iframe.sina_ihific_content {
	border: 0px none; 
	margin-left: -216px; 
	height: 981px; 
	margin-top: -543px; 
	width: 747px;
}

iframe.sina_ihific_wrapper {
	border: 1px black; 
	height: 581px; 
	width: 500px;
}

iframe.eastmoney_hsgt_content {
	border: 0px none; 
	margin-left: -340px; 
	height: 1181px; 
	margin-top: -683px; 
	width: 1400px;
}

iframe.xueqiu_kline_content {
	border: 0px none; 
	margin-left: -216px; 
	height: 981px; 
	margin-top: -543px; 
	width: 747px;
}

iframe.xueqiu_kline_wrapper {
	border: 1px black; 
	height: 581px; 
	width: 500px;
}
